@import nib

greyish = #eee

*, *:before, *:after
  box-sizing border-box

.unloaded
  .moleskine-parent
    transform translateY(-100px)
  .info
    transform translateX(-100px)
  .moleskine-parent, .info, .share
    opacity 0

.pg2
  border-radius 12px 0 0 12px
  border 10px solid #333
  border-right 0 solid
  height 100%
  background-image linear-gradient(left, #fff 95%, #dadada 100%)
.pg3
  width 210px
  height 224px
  background-image url(../img/cover-back.png)
  margin auto
  margin-top 90px

.l, .r
  width 340px
  height 465px

pager(name)
  .page-{name}.l
    background-image url('../img/p/'+name+'1.png')
  .page-{name}.r
    background-image url('../img/p/'+name+'2.png')

pager(phil)
pager(dan)
pager(ron)
pager(chris)
pager(diane)
pager(balaji)
pager(chase)
pager(jack)
pager(mark)
pager(nathan)

.thankyou > div
  width 211px
  height 178px
  background-image url(../img/back-thanks.png)
  margin auto
  margin-top 110px

#content
  background-image linear-gradient(#d15c15, #bd5110)
  position relative
  margin 0

.arrow-right
  right: -50px;
  background-position -28px 0
  transform translateX(-25px)

.arrow-left
  left: -50px;
  transform translateX(25px)

.arrow-right, .arrow-left
  display block
  position absolute
  top 50%
  margin-top -22px
  width 28px
  height 44px
  background-image url(../img/arrows.png)
  background-size auto 44px
  transition 0.3s ease-out
  opacity 0
  pointer-events none
  &.show
    opacity 0.5
    pointer-events auto
    transform translateX(0px)
    &:hover
      opacity 1

#body
  width 700px
  height 485px
  top 50%
  position absolute
  margin-top -323px
  @media screen and (max-height: 675px)
    margin-top -285px
  left 50%
  margin-left -350px
  hr
    border-top 1px solid rgba(255,255,255,0.3)
  .share
    width 350px
    color #fff
    padding 100px 50px
    position relative
    z-index 20
    position absolute
    right 0
    top 0
    p
      margin-bottom 8px
    a
      display block
      color rgba(255,255,255,0.8)
      padding 5px
      &:hover
        text-decoration none
        color #fff
    i
      display inline-block
      text-align center
      width 16px
    &.open
      z-index 0
  .info
    width 350px
    color #fff
    padding 20px 40px 20px 20px
    position relative
    transition transform 0.5s ease-out
    z-index 20
    &.open
      position static
      z-index 0
  .moleskine-parent
    transition transform 0.5s ease-out
    width 350px
    left 0
    position absolute
    top 0
    border-color = #262626
    bg-color = #474747
    shadow-color = #585656
    .back-inside > div
      border-radius 0 12px 12px 0
      border 10px solid #333
      border-left 0 solid
      height 100%
      background-image linear-gradient(right, #fff 95%, #dadada 100%)
    .back-outside > div
      width 350px
      height 485px
      border 5px solid border-color
      background-color bg-color
      border-radius 12px 3px 3px 12px
      box-shadow -5px 5px 0 shadow-color inset
      position relative
      &:before
        position absolute
        top 0
        right 25px
        height 100%
        width 10px
        border-left 5px solid shadow-color
        box-shadow -5px 5px 0 border-color inset
        content " "
        display block
      .title
        background-color #eee
        width 100%
        border-top 5px solid border-color
        border-bottom 5px solid border-color
        height 180px
        top 200px
        position relative
    .inside
      width 340px
      height 465px
    .inside.even
         background-image linear-gradient(left, #fff 95%, #dadada 100%)
    .inside.odd
         background-image linear-gradient(right, #fff 95%, #cacaca 100%)
    .page-wrapper
      perspective 2000px
      cursor -webkit-grab
      cursor -moz-grab
      body.mousedown & 
        cursor -webkit-grabbing
        cursor -moz-grabbing
    .cover
      width 350px
      height 485px
      border 5px solid border-color
      background-color bg-color
      border-radius 3px 12px 12px 3px
      box-shadow 5px 5px 0 shadow-color inset
      position relative
      &:before
        position absolute
        top 0
        left 25px
        height 100%
        width 10px
        border-left 5px solid border-color
        box-shadow 5px 5px 0 shadow-color inset
        content " "
        display block

      .title
        background-color #eee
        width 100%
        border-top 5px solid border-color
        border-bottom 5px solid border-color
        height 180px
        top 200px
        position relative
      .strap
        width 22px
        height 492px
        border-top 8px solid #000
        border-bottom 8px solid #000
        background-color #000
        position absolute
        right 50px
        top -8px
        border-radius 3px
        &:before
          position absolute
          top 0
          right -5px
          height 475px
          width 5px
          border-left 5px solid rgba(0,0,0,0.3)
          content " "
          display block

#logo
  width 50px
  height 50px
  background-image url(../img/logo.png)
  background-size contain
h1, h2
  font-size 30px
  font-family museo, serif
  strong
    display block
    font-size 20px
    font-weight normal
    opacity 0.6
h2
  font-size 25px

.byline
  color rgba(255,255,255,0.6)
  font-size 14px
  a
    color rgba(255,255,255,0.6)
    text-decoration none
    &:hover
      color #fff
    &.hire
      padding-left 14px

#people
  background-color #ddd
  height 180px
  @media screen and (max-width: 1525px)
    height 138px
  @media screen and (max-height: 675px)
    height 78px
  @media screen and (max-width: 1050px)
    height 78px
  position absolute
  bottom 0
  left 0
  width 100%
  &.active .person
    opacity 0.25
    &.on
      opacity 1
  #people-table
    margin auto
    display table
    width 100%
    height 114px
    max-width 1800px
  .person
    cursor pointer
    display table-cell
    vertical-align top
    overflow hidden
    height 114px
    transition opacity 0.3s ease-out
    &:hover
      cursor pointer
      text-decoration none
      opacity 1
      .person-parent 
        .person-info .name
          color #c65614
        span
          margin-top -10px
    .person-parent
      height 180px
      overflow hidden
      width 100%
      @media screen and (max-width: 1525px)
        height 138px
      @media screen and (max-width: 1050px)
        height 78px
      @media screen and (max-height: 675px)
        height 78px

      .person-info
        height 66px
        padding-top 20px
        @media screen and (max-width: 1050px)
          display none
        @media screen and (max-height: 675px)
          display none
        .name
          text-align center
          color #555
          font-weight bold
          font-size 13px
          @media screen and (max-width: 1525px)
            font-size 11px
        .job
          text-align center
          color #AAA
          font-size 12px
          @media screen and (max-width: 1525px)
            font-size 10px
      span
        transition 0.3s ease-out
        image '../img/people.png'
        height 124px
        background-size auto 124px !important
        display block
        margin auto
        @media screen and (max-width: 1525px)
          height 83px
          background-size auto 83px !important

person(width, offset)
  width width
  background-position offset 0
  @media screen and (max-width: 1525px)
    width (width / 1.5)
    background-position (offset / 1.5) 0

.chase span
  person(90px, 0)
.nathan span
  person(127px, -90px)
.chris span
  person(111px, -222px)
.jack span
  person(125px, -338px)
.diane span
  person(119px, -470px)
.phil span
  person(134px, -603px)
.dan span
  person(132px, -751px)
.balaji span
  person(132px, -899px)
.mark span
  person(118px, -1036px)
.ron span
  person(135px, -1160px)
    

  .navbar-garlic .navbar-brand
    width 39px
    background-size cover

.mobile
  html, body
    height auto
  #people
    display none
  .moleskine
    display none
  .info, .moleskine
    transform translateX(0) !important
    transition 0s linear !important
  .info
    padding 20px !important
  #body
    margin: 0;
    left: 0;
    top: 0;
    position: relative;
    width: auto;
    height: auto;
    .info
      width auto
      text-align center
      #logo
        margin auto
  .share, .arrow-left, .arrow-right, .jack-attack
    display none

  .person-info
    background-color: #ddd;
    border-bottom: 1px solid #bbb;
    padding: 26px;
    color #777
    font-size 13px
    .name
      font-weight bold
      color #333

  .mobile-show img
    max-width 100%
    min-height 100px
  .mini-person
    position relative
    display block
    text-decoration none
  .mini-person span
    transition 0.3s ease-out
    image '../img/people.png'
    display block
    margin auto
    position absolute
    right 10px
    bottom 0px
    height 83px
    background-size auto 83px !important

.jack-attack
  text-align: center;
  margin-top: -28px;
  color: #fff;
  font-size: 13px;
  transform translateY(20px)
  opacity 0
  transition 0.3s ease-out
  &.on
    transform translateY(0)
    opacity 1
  a
    color rgba(255,255,255,0.6)
    &:hover
      text-decoration none
      color #fff

.amazon
  z-index 10
  position absolute
  border 2px solid rgba(100,100,100,0.5442)
  text-indent -10000px
  background-color rgba(0,0,0,0.05)
  opacity 0
  transition opacity 0.3s ease-out
  &:hover
    opacity 1
  &.book-spirit
    transform rotate(-2deg)
    width 310px
    height 110px
    left 20px
    top 98px
  &.book-score
    transform rotate(0deg)
    width: 315px;
    height: 150px;
    left: 20px;
    top: 198px;
  &.music
    transform rotate(0deg)
    width: 80px;
    height: 40px;
    left: 10px;
    top: 10px;
