@import nib

greyish = #eee

*, *:before, *:after
  box-sizing border-box

body
  overflow hidden

.unloaded
  .moleskine-parent
    transform translateY(-100px)
  .info
    transform translateX(-100px)
  .moleskine-parent, .info, .share
    opacity 0

.pg2
  border-radius 12px 0 0 12px
  border 10px solid #333
  border-right 0 solid
  height 100%
  background-image linear-gradient(left, #fff 95%, #dadada 100%)
.pg3
  width 210px
  height 224px
  image '../img/cover-back.png' 210px 224px
  margin auto
  margin-top 90px

.l, .r
  width 447px
  height 542px

pager(name)
  .page-{name}.l
    background-image linear-gradient(to right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.08) 100%), url('../img/pages/'+name+'1.png')
    background-size 447px 542px
    @media (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all, (min-resolution: 138dpi), (min-resolution: 1.5dppx)
      background-image linear-gradient(to right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.08) 100%), url('../img/pages/'+name+'1@2x.png')
  .page-{name}.r
    background-image linear-gradient(to left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.08) 100%), url('../img/pages/'+name+'2.png')
    background-size 447px 542px
    @media (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all, (min-resolution: 138dpi), (min-resolution: 1.5dppx)
      background-image linear-gradient(to left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.08) 100%), url('../img/pages/'+name+'2@2x.png')

pager(jessica)
pager(tracy)
pager(kimberly)
pager(olga)
pager(ruchi)
pager(danielle)
pager(fundraising)
pager(adora)
pager(grace)

.thankyou > div
  width 211px
  height 178px
  image '../img/back-thanks.png' 211px 178px
  margin auto
  margin-top 110px

#content
  background-image linear-gradient(rgba(182, 40, 103, 0.95), rgba(253, 121, 11, 0.95)), url(../img/bg.jpg)
  background-size cover
  background-position center center
  position relative
  margin 0

.arrow-right
  right -50px
  background-position -28px 0
  transform translateX(-25px)

.arrow-left
  left -50px
  transform translateX(25px)

.arrow-right, .arrow-left
  display block
  position absolute
  top 50%
  margin-top -22px
  width 28px
  height 44px
  background-image url(../img/arrows.png)
  background-size auto 44px
  transition 0.3s ease-out
  opacity 0
  pointer-events none
  &.show
    opacity 0.5
    pointer-events auto
    transform translateX(0px)
    &:hover
      opacity 1

#years
  @media screen and (max-height: 675px)
    display none
  position absolute
  top 0
  left 0
  color rgba(255,255,255,0.3)
  z-index 100
  padding 17px
  a
    color rgba(255,255,255,0.6)
    padding 0 5px
    &:hover
      text-decoration none
      color #fff
    strong
      color #fff
#body
  width 914px
  height 562px
  top 50%
  position absolute
  margin-top -327px
  @media screen and (max-height: 675px)
    margin-top -285px
  left 50%
  margin-left -457px
  hr
    border-top 1px solid rgba(255,255,255,0.3)
  .share
    width 450px
    color #fff
    padding 100px 50px
    position relative
    z-index 20
    position absolute
    right 0
    top 0
    p
      margin-bottom 8px
    .social a
      display block
      color rgba(255,255,255,0.8)
      padding 5px
      &:hover
        text-decoration none
        color #fff
    i
      display inline-block
      text-align center
      width 16px
    &.open
      z-index 0
  .info
    width 450px
    color #fff
    padding 90px 40px 20px 20px
    position relative
    transition transform 0.5s ease-out
    z-index 20
    font-size 16px
    &.open
      position static
      z-index 0
  .moleskine-parent
    transition transform 0.5s ease-out
    width 350px
    left 0
    position absolute
    top 0
    border-color = #262626
    bg-color = #474747
    shadow-color = #585656
    .back-inside > div
      border-radius 0 12px 12px 0
      border 10px solid #333
      border-left 0 solid
      height 100%
      background-image linear-gradient(right, #fff 95%, #dadada 100%)
    .back-outside > div
      width 457px
      height 562px
      border 5px solid border-color
      background-color bg-color
      border-radius 12px 3px 3px 12px
      box-shadow -5px 5px 0 shadow-color inset
      position relative
      &:before
        position absolute
        top 0
        right 25px
        height 100%
        width 10px
        border-left 5px solid shadow-color
        box-shadow -5px 5px 0 border-color inset
        content " "
        display block
      .title
        background-color #eee
        width 100%
        border-top 5px solid border-color
        border-bottom 5px solid border-color
        height 200px
        top 240px
        position relative
    .inside
      width 447px
      height 542px
    .inside.even
         background-image linear-gradient(left, #fff 95%, #dadada 100%)
    .inside.odd
         background-image linear-gradient(right, #fff 95%, #cacaca 100%)
    .page-wrapper
      perspective 2000px
      cursor -webkit-grab
      cursor -moz-grab
      body.mousedown & 
        cursor -webkit-grabbing
        cursor -moz-grabbing
    .cover
      width 457px
      height 562px
      border 5px solid border-color
      background-color bg-color
      border-radius 3px 12px 12px 3px
      box-shadow 5px 5px 0 shadow-color inset
      position relative
      &:before
        position absolute
        top 0
        left 25px
        height 100%
        width 10px
        border-left 5px solid border-color
        box-shadow 5px 5px 0 shadow-color inset
        content " "
        display block

      .title
        background-color #eee
        width 100%
        border-top 5px solid border-color
        border-bottom 5px solid border-color
        height 200px
        top 240px
        position relative
      .strap
        width 22px
        height 565px
        border-top 8px solid #000
        border-bottom 8px solid #000
        background-color #000
        position absolute
        right 50px
        top -8px
        border-radius 3px
        &:before
          position absolute
          top 0
          right -5px
          height 557px
          width 5px
          border-left 5px solid rgba(0,0,0,0.3)
          content " "
          display block

#logo
  width 50px
  height 50px
  background-image url(../img/logo.png)
  background-size contain
h1, h2
  font-size 30px
  font-family "Roboto Slab", sans-serif
  font-weight 400
  strong
    display block
    font-size 20px
    font-weight normal
    opacity 0.6
h2
  font-size 25px

.byline
  font-size 16px
  color rgba(255,255,255,0.6)
  .mobile &
    display none
  .signature
    image '../img/signature.png' 195px 39px
    background-repeat no-repeat
    display block
    width 195px
    height 39px
    text-indent -90000px
    margin-top 15px
  .full
    width 100%
    font-size 1px
  a.a-social
    color rgba(255,255,255,0.4)
    &:hover
      color rgba(#fff, 0.9)
      text-decoration none
  a.hire
    color rgba(255,255,255,0.6)
    &:hover
      color rgba(#fff, 0.9)
      text-decoration none
  .signature-kim
    image '../img/signature-kim.png' 135px 39px
    background-repeat no-repeat
    display block
    width 135px
    height 39px
    text-indent -90000px
    margin-right 20px
    margin-top 15px
  .readme
    color #fff
    text-decoration none
    display inline-block
    background-image url(../img/readme.png)
    background-size contain
    background-repeat no-repeat
    padding-left 27px
    margin-left 4px
    opacity 0.8
    &:hover
      opacity 1
  .social
    border-top 1px solid rgba(255,255,255,0.3)
    padding-top 10px
    margin-top 10px
    .product-hunt
      margin-top 15px
    a
      display inline-block !important
      color rgba(255,255,255,0.6)
      text-decoration none
      font-size 18px
      padding-right 8px
      strong
        padding-left 5px
        font-size 13px
      &:hover
        color #fff
      &.hire
        padding-left 14px

#companies
  display table
  width 100%
  position absolute
  bottom 0
  left 0
  &.active
    #company-table
      .company
        a
          opacity 0.3

  @media screen and (max-height: 675px)
    display none
  #company-table
    display table-row
    .company
      display table-cell
      width 10%
      a
        display block
        padding 15px 20px
        text-decoration none
        transition 0.3s ease-out
        opacity 0.8
        &:hover, &.on
          opacity 1
          transform translateY(-7px)
        h3
          text-align center
          color #fff
          font-size 13px
          font-weight normal
          height 19px
          white-space nowrap
          text-overflow ellipsis
          max-width 121px
          overflow hidden
          margin auto
        span
          height 30px
          display block
          background-repeat no-repeat
          background-size contain
          background-position center center
          background-image url(../img/logos/ycombinator.png)
      &.jessica span
        background-image url(../img/logos/ycombinator.png)
      &.tracy span
        background-image url(../img/logos/plangrid.png)
      &.kimberly span
        background-image url(../img/logos/blackgirlscode.png)
      &.olga span
        background-image url(../img/logos/shoptiques.png)
      &.ruchi span
        background-image url(../img/logos/cove.png)
      &.danielle span
        background-image url(../img/logos/mattermark.png)
      &.fundraising span
        background-image url(../img/logos/ycombinator.png)
      &.adora span
        background-image url(../img/logos/homejoy.png)
      &.grace span
        background-image url(../img/logos/watsi.png)

#people
  height 130px
  @media screen and (max-width: 1525px)
    height 110px
  @media screen and (max-height: 675px)
    height 78px
  @media screen and (max-width: 1050px)
    height 78px
  position absolute
  bottom 0
  left 0
  width 100%
  &.active .person
    opacity 0.25
    &.on
      opacity 1
  #people-table
    margin auto
    display table
    width 100%
    height 114px
    max-width 1800px
  .person
    cursor pointer
    display table-cell
    vertical-align top
    overflow hidden
    height 114px
    transition opacity 0.3s ease-out
    &:hover
      cursor pointer
      text-decoration none
      opacity 1
      .person-parent 
        .person-info .name
          color #c65614
    .person-parent
      height 58px
      overflow hidden
      width 100%
      @media screen and (max-width: 1525px)
        height 138px
      @media screen and (max-width: 1050px)
        height 78px
      @media screen and (max-height: 675px)
        height 78px

      .person-info
        height 46px
        padding-top 20px
        @media screen and (max-width: 1050px)
          display none
        @media screen and (max-height: 675px)
          display none
        .name
          text-align center
          color #555
          font-weight bold
          font-size 13px
          @media screen and (max-width: 1525px)
            font-size 11px
        .job
          text-align center
          color #AAA
          font-size 12px
          @media screen and (max-width: 1525px)
            font-size 10px
      span
        transition 0.3s ease-out
        image '../img/people.png'
        height 124px
        background-size auto 124px !important
        display block
        margin auto
        @media screen and (max-width: 1525px)
          height 53px
          background-size auto 83px !important

person(width, offset)
  width width
  background-position offset 0
  @media screen and (max-width: 1525px)
    width (width / 1.5)
    background-position (offset / 1.5) 0

.mobile
  #years
    position relative
    text-align center
    background-color #98161c

  overflow auto
  height auto
  html, body
    overflow auto
    height auto
  .signature
    margin auto
  #companies
    display none
  .moleskine
    display none
  .info, .moleskine
    transform translateX(0) !important
    transition 0s linear !important
  .info
    padding 20px !important
  #body
    margin 0
    left 0
    top 0
    position relative
    width auto
    height auto
    .info
      width auto
      text-align center
      p 
        line-height 1.5em
      #logo
        margin auto
  .share, .arrow-left, .arrow-right, .jack-attack
    display none

  h3
    margin 0
    background-color #ddd
    border-bottom 1px solid #bbb
    padding 26px
    color #777
    font-size 13px
    .name
      font-weight bold
      color #333

  .mobile-show img
    max-width 100%
    min-height 100px
  .mini-person
    position relative
    display block
    text-decoration none
  .mini-person span
    transition 0.3s ease-out
    image '../img/people.png'
    display block
    margin auto
    position absolute
    right 10px
    bottom 0px
    height 83px
    background-size auto 83px !important
  .mini-person.chase span
    right 23px
  .mini-person.chris span
    right 14px

.jack-attack
  text-align center
  margin-top -28px
  color #fff
  font-size 13px
  transform translateY(20px)
  opacity 0
  transition 0.3s ease-out
  &.on
    transform translateY(0)
    opacity 1
  a
    color rgba(255,255,255,0.6)
    &:hover
      text-decoration none
      color #fff

.amazon
  z-index 10
  position absolute
  border 2px solid rgba(100,100,100,0.5442)
  text-indent -10000px
  background-color rgba(0,0,0,0.05)
  opacity 0
  transition opacity 0.3s ease-out
  &:hover
    opacity 1
  &.book-spirit
    transform rotate(-2deg)
    width 310px
    height 110px
    left 20px
    top 98px
  &.book-score
    transform rotate(0deg)
    width 315px
    height 150px
    left 20px
    top 198px
  &.music
    transform rotate(0deg)
    width 80px
    height 40px
    left 10px
    top 10px

.buy
  margin-top 20px
  display block
  color #fff
  background-color rgba(0,0,0,0.1)
  padding 10px
  border-radius 5px
  box-shadow 1px 1px rgba(255,255,255,0.1), 1px 1px rgba(0,0,0,0.2) inset
  text-shadow 1px 1px rgba(0,0,0,0.3)
  &:hover
    text-decoration none
    color #fff
    background-color rgba(0,0,0,0.2)
    span
      color rgba(255,255,255,0.8)
  span
    color rgba(255,255,255,0.5)
    display block

