---
title: 2013 Startup School 
---

<div id="content">
  <div id="body">
    <a href="#" class="arrow-left"></a>
    <a href="#" class="arrow-right"></a>
    <div class="info">
      <div id="logo"></div>
      <h1>Startup School <strong>2013</strong></h1>
      <p>On October 19th 2013, thousands of programmers, engineers and designers joined a lineup of amazing speakers at the Flint Center for Startup School 2013. This is what they learned.</p>
       <div class="byline">
         By Gregory Koberger
         <div>
           <a href="http://twitter.com/gkoberger" class="icon-twitter" target="_new"></a>
           <a href="http://github.com/gkoberger" class="icon-github" target="_new"></a>
           <a href="http://dribbble.com/gkoberger" class="icon-dribbble" target="_new"></a>
           <a href="http://linkedin.com/in/gkoberger" class="icon-linkedin" target="_new"></a>
           <a href="http://gkoberger.net" class="icon-link" target="_new"></a>
           <a href="mailto:gkoberger@gmail.com?subject=I+need+design+and+development+help!" class="hire"><i class="icon-envelope"></i> Hire me!</a>
         </div>
       </div>
    </div>
    <div class="share open">
      <h2>Share Startup Notes</h2>
      <p>Like Startup Notes? Tell your friends!</p>
        <a href="">
          <i class="icon-twitter"></i> Share on Twitter
        </a>
        <a href="">
          <i class="icon-facebook"></i> Share on Facebook
        </a>
        <hr>
        <p>Or, need a <strong>designer</strong> or <strong>developer</strong>? <a href="mailto:gkoberger@gmail.com?subject=I+need+design+and+development+help!"><i class="icon-envelope"></i> I'm for hire!</a></p>
    </div>

    <div class="moleskine-parent">
      <div class="moleskine" id="moleskine">
        <div class="hard cover-hard" depth="5">
          <div class="cover">
            <div class="title"></div>
            <div class="strap"></div>
          </div>
        </div>

        <div class="hard"><div class="pg2"><div></div></div></div>
        <div class="inside own-size"><div class="pg3"></div></div>

        <div class="inside own-size"><div class="pg4"></div></div>
        <div class="inside own-size"><div class="pg5"></div></div>

        <div class="inside own-size">Placeholder for Nate</div>
        <div class="inside own-size">Nate page 2</div>

        <div class="inside own-size">Placeholder for Ron</div>
        <div class="inside own-size">Ron page 2</div>

        <div class="inside own-size">Placeholder for Chris</div>
        <div class="inside own-size">Chris page 2</div>

        <div class="inside own-size">Placeholder for Jack</div>
        <div class="inside own-size">Jack page 2</div>

        <div class="inside own-size">Placeholder for Diane</div>
        <div class="inside own-size">Diane page 2</div>

        <div class="inside own-size">Placeholder for Phil</div>
        <div class="inside own-size">Phil page 2</div>

        <div class="inside own-size">Placeholder for Dan</div>
        <div class="inside own-size">Dan page 2</div>

        <div class="inside own-size">Placeholder for Balaji</div>
        <div class="inside own-size">Balaji page 2</div>

        <div class="inside own-size">Placeholder for Mark</div>
        <div class="inside own-size">Mark page 2</div>

        <div class="inside own-size">&nbsp;</div>
        <div class="hard back-inside fixed"><div class="thankyou"><div></div></div></div>

        <div class="hard back-outside">
          <div>
            <div class="title"></div>
          </div>
        </div>
      </div>
    </div>
    &nbsp;
  </div>
  <div id="people">
    <div id="people-table">
      <span class="person chase" data-page="4">
        <div class="person-parent">
          <div class="person-info">
            <div class="name">Chase Adams</div>
            <div class="job">Founder, Watsi</div>
          </div>
          <span></span>
        </div>
      </span>
      <span class="person nate" data-page="6">
        <div class="person-parent">
          <div class="person-info">
            <div class="name">Nate Blecharczyk</div>
            <div class="job">Founder, Airbnb</div>
          </div>
          <span></span>
        </div>
      </span>
      <span class="person ron" data-page="8">
        <div class="person-parent">
          <div class="person-info">
            <div class="name">Ron Conway</div>
            <div class="job">Partner, SV Angel</div>
          </div>
          <span></span>
        </div>
      </span>
      <span class="person chris" data-page="10">
        <div class="person-parent">
          <div class="person-info">
            <div class="name">Chris Dixon</div>
            <div class="job">Partner, A16Z</div>
          </div>
          <span></span>
        </div>
      </span>
      <span class="person jack" data-page="12">
        <div class="person-parent">
          <div class="person-info">
            <div class="name">Jack Dorsey</div>
            <div class="job">Founder, Twitter, Square</div>
          </div>
          <span></span>
        </div>
      </span>
      <span class="person diane" data-page="14">
        <div class="person-parent">
          <div class="person-info">
            <div class="name">Diane Greene</div>
            <div class="job">Founder, VMWare</div>
          </div>
          <span></span>
        </div>
      </span>
      <span class="person phil" data-page="16">
        <div class="person-parent">
          <div class="person-info">
            <div class="name">Phil Libin</div>
            <div class="job">Founder, Evernote</div>
          </div>
          <span></span>
        </div>
      </span>
      <span class="person dan" data-page="18">
        <div class="person-parent">
          <div class="person-info">
            <div class="name">Dan Siroker</div>
            <div class="job">Founder, Optimizely</div>
          </div>
          <span></span>
        </div>
      </span>
      <span class="person balaji" data-page="20">
        <div class="person-parent">
          <div class="person-info">
            <div class="name">Balaji Srinivasan</div>
            <div class="job">Founder, Counsyl</div>
          </div>
          <span></span>
        </div>
      </span>
      <span class="person mark" data-page="22">
        <div class="person-parent">
          <div class="person-info">
            <div class="name">Mark Zuckerberg</div>
            <div class="job">Founder, Facebook</div>
          </div>
          <span></span>
        </div>
      </span>
    </div>
  </div>
</div>
