---
title: 2015 Female Founders Conferences
---

<div id="years">
  <a href="http://ffc2015.startupnotes.org"><strong>FFC 2015</strong></a>
  &middot;
  <a href="http://2014.startupnotes.org">2014</a>
  &middot;
  <a href="http://2013.startupnotes.org">2013</a>
  &middot;
  <a href="http://gkoberger.net/m/startup-school">2011</a>
</div>

<div id="content">
  <div id="body">
    <a href="#" class="arrow-left"></a>
    <a href="#" class="arrow-right"></a>

    <div class="info">
      <div id="logo"></div>
      <h1>Startup Notes <strong>2015 Female Founders Conference</strong></h1>
      <p>On February 21, 2015, Y Combinator invited amazing female founders to tell their stories. Here are doodle notes of the most inspirational and actionable advice from each speaker. Enjoy, and good luck building!</p>
       <div class="byline">
         <table>
           <tr>
             <td>
               <div class="signature">By Gregory Koberger</div>
               Founder, <a class="readme" href="http://readme.io" target="_blank">ReadMe.io</a>
               <div>
                 <a href="https://twitter.com/gkoberger" class="a-social icon-twitter" target="_blank"> @gkoberger</a>
               </div>
             </td>
             <td class="full">&nbsp;</td>
             <td>
               <div class="signature-kim">By Kim Pham</div>
               <a href="mailto:ms.kimpham@gmail.com" class="hire"><i class="icon-envelope"></i> Hire me!</a>
               <div>
                 <a href="https://twitter.com/kimpham404" class="a-social icon-twitter" target="_blank"> @kimpham404</a>
               </div>
             </td>
           </tr>
         </table>
         <div class="social" style="display:none;">
           <a href="https://producthunt.com" target="_blank" class="product-hunt">Join the conversation on Product Hunt</a>
         </div>
       </div>
       <hr>
       <a href="http://ffcposter.myshopify.com/" class="buy" target="_blank">
        Buy a FFC Poster & Support Black Girls CODE
       </a>
     </div>
    <div class="share open">
      <a href="http://ffcposter.myshopify.com/" class="buy" target="_blank">
        <strong>Inspired? Buy FFC Poster &</strong><br>
        Support Black Girls CODE
      </a>

      <hr>

      <h2>Share Startup Notes</h2>
      <p>Like Startup Notes? Tell your friends!</p>
         <div class="social">
        <a href="https://twitter.com/intent/tweet?source=webclient&text=Doodle+notes+from+@ycombinator's+2015+Female+Founders+Conference+http://startupnotes.org+(By+@gkoberger+and+@kimpham404)&a=" target="_blank">
          <i class="icon-twitter"></i> Share on Twitter
        </a>
        <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://startupnotes.org&p[images][0]=http://startupschool.org/img/fb.png&p[title]=Startup%20School%202014%20Notes&p[summary]=" target="_blank">
          <i class="icon-facebook"></i> Share on Facebook
        </a>
        <a href="https://github.com/gkoberger/startupnotes" target="_blank">
          <i class="icon-github"></i> Fork on GitHub
        </a>
      </div>

        <hr>

       <div class="byline">
         <div><strong style="color: #fff">Want to see more by Greg?</strong></div>
          <div>Check out his startup,<a class="readme" href="http://readme.io" target="_blank">ReadMe.io</a>!</div>
         <div class="social" style="display:none;">
           <a href="http://twitter.com/gkoberger" class="icon-twitter" target="_new"></a>
           <a href="http://github.com/gkoberger" class="icon-github" target="_new"></a>
           <a href="http://dribbble.com/gkoberger" class="icon-dribbble" target="_new"></a>
           <a href="mailto:gkoberger@gmail.com?subject=Startup Notes!" class="hire"><i class="icon-envelope"></i> <strong>Say hi!</strong></a>
         </div>
       </div>
       <hr>
       <div class="byline">
         <div><strong style="color: #fff">Want to see more by Kim?</strong></div>
         <div>Then you should &nbsp;<a class="icon-envelope hire" href="mailto:ms.kimpham@gmail.com">&nbsp;&nbsp;<strong>hire her</strong>!</a></div>
         <div class="social" style="display:none;">
           <a href="http://twitter.com/gkoberger" class="icon-twitter" target="_new"></a>
           <a href="http://github.com/gkoberger" class="icon-github" target="_new"></a>
           <a href="http://dribbble.com/gkoberger" class="icon-dribbble" target="_new"></a>
           <a href="mailto:gkoberger@gmail.com?subject=Startup Notes!" class="hire"><i class="icon-envelope"></i> <strong>Say hi!</strong></a>
         </div>
       </div>
    </div>


    <div class="moleskine-parent">
      <div class="moleskine" id="moleskine">
        <div class="hard cover-hard" depth="5">
          <div class="cover">
            <div class="title"></div>
            <div class="strap"></div>
          </div>
        </div>

        <div class="hard"><div class="pg2"><div></div></div></div>
        <div class="inside own-size"><div class="pg3"></div></div>

        <div class="inside own-size"><div class="page-jessica l"></div></div>
        <div class="inside own-size"><div class="page-jessica r"></div></div>

        <div class="inside own-size"><div class="page-tracy l"></div></div>
        <div class="inside own-size"><div class="page-tracy r"></div></div>

        <div class="inside own-size"><div class="page-kimberly l"></div></div>
        <div class="inside own-size"><div class="page-kimberly r"></div></div>

        <div class="inside own-size"><div class="page-olga l"></div></div>
        <div class="inside own-size"><div class="page-olga r"></div></div>

        <div class="inside own-size"><div class="page-ruchi l"></div></div>
        <div class="inside own-size"><div class="page-ruchi r"></div></div>

        <div class="inside own-size"><div class="page-danielle l"></div></div>
        <div class="inside own-size"><div class="page-danielle r"></div></div>

        <div class="inside own-size"><div class="page-fundraising l"></div></div>
        <div class="inside own-size"><div class="page-fundraising r"></div></div>

        <div class="inside own-size"><div class="page-adora l"></div></div>
        <div class="inside own-size"><div class="page-adora r"></div></div>

        <div class="inside own-size"><div class="page-grace l"></div></div>
        <div class="inside own-size"><div class="page-grace r"></div></div>

        <div class="inside own-size">&nbsp;</div>
        <div class="hard back-inside fixed"><div class="thankyou"><div></div></div></div>

        <div class="hard back-outside">
          <div>
            <div class="title"></div>
          </div>
        </div>
      </div>
    </div>
    &nbsp;
  </div>

  <div id="companies">
    <div id="company-table">
      <div class="company jessica">
        <a href="#" data-page="4">
          <h3>Jessica Livingston</h3>
          <span></span>
        </a>
      </div>
      <div class="company tracy">
        <a href="#" data-page="6">
          <h3>Tracy Young</h3>
          <span></span>
        </a>
      </div>
      <div class="company kimberly">
        <a href="#" data-page="8">
          <h3>Kimberly Bryant</h3>
          <span></span>
        </a>
      </div>
      <div class="company olga">
        <a href="#" data-page="10">
          <h3>Olga Vidisheva</h3>
          <span></span>
        </a>
      </div>
      <div class="company ruchi">
        <a href="#" data-page="12">
          <h3>Ruchi Sanghvi</h3>
          <span></span>
        </a>
      </div>
      <div class="company danielle">
        <a href="#" data-page="14">
          <h3>Danielle Morrill</h3>
          <span></span>
        </a>
      </div>
      <div class="company fundraising">
        <a href="#" data-page="16">
          <h3>Fundraising Panel</h3>
          <span></span>
        </a>
      </div>
      <div class="company adora">
        <a href="#" data-page="18">
          <h3>Adora Cheung</h3>
          <span></span>
        </a>
      </div>
      <div class="company grace">
        <a href="#" data-page="20">
          <h3>Grace Garey</h3>
          <span></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="mobile-show"></div>
